@page
@model EmployeCrud.Pages.Employs.CreateModel
@{
}
<div>
    <h4>Employ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employ.Empno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employ.Empno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employ.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employ.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employ.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employ.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employ.Dept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employ.Dept)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employ.Desig)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employ.Desig)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employ.Basic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employ.Basic)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employ.Empno">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>